<kt-portlet>
    <!-- PORTLET LOADING | Binded to TABLE Datasource -->
    <kt-portlet-header [title]="'Notification Card'" [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTools>
            <button
                mat-raised-button
                color="warn"
                (click)="backClicked()"
            >
                Back
            </button>
            
        </ng-container>
    </kt-portlet-header>
    <!-- end::Header -->

    <!-- start::Body (attribute: ktPortletBody) -->
    <kt-portlet-body>
        <!-- start::FILTERS & GROUP ACTIONS -->
        <div class="kt-form no-alert">
            <!-- start::FILTERS -->
            <div class="kt-form__filtration mb-0">
                <formio [form]="form" [refresh]="refreshForm" (change)="onChange($event)" (submit)="onSubmit($event)"></formio>
            </div>
        </div>
    </kt-portlet-body>
</kt-portlet>