<kt-portlet>
	<!-- PORTLET LOADING | Binded to TABLE Datasource -->
	<!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
	<kt-portlet-header
		[title]="'StillBirth Notification'"
		[class]="'kt-portlet__head--lg'"
	>
		<!-- [viewLoading$]="dataSource.loading$" -->
		<ng-container ktPortletTools>
			<a
				routerLink="add"
				mat-raised-button
				color="primary"
				matTooltip="Add new record"
			>
				+Add new
			</a>
			<span class="mx-1 d-none d-md-block"></span>
			<button mat-raised-button color="primary" (click)="showFilers()">
				<i class="fas fa-filter"></i>
			</button>
		</ng-container>
	</kt-portlet-header>

	<!-- end::Header -->

	<!-- start::Body (attribute: ktPortletBody) -->
	<kt-portlet-body class="p-0">
		<div class="position-relative" style="min-height: 200px;">
			<div class="loading-shade" *ngIf="isLoadingResults || isMaxLimitReached">
				<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
				<div class="example-rate-limit-reached" *ngIf="isMaxLimitReached">
					Please wait...
				</div>
			</div>
			<div class="table-container">
				<table
					mat-table
					[dataSource]="dataSource"
					class="w-100"
					matSort
					matSortDisableClear
				>
					<!-- Date fields-->
					<ng-container matColumnDef="stillBirthNo">
						<th mat-header-cell *matHeaderCellDef>StillBirth No.</th>
						<td mat-cell *matCellDef="let row">
							{{row?.stillBirthNo || '----' }}
						</td>
					</ng-container>
					<ng-container matColumnDef="baby_hospital_record_no">
						<th mat-header-cell *matHeaderCellDef>Baby's Hospital Record No</th>
						<td mat-cell *matCellDef="let row">
							{{row?.baby_hospital_record_no || '----'}}
						</td>
					</ng-container>
					<ng-container matColumnDef="mother_hospital_record_no">
						<th mat-header-cell *matHeaderCellDef>Mother's Hospital Record No.</th>
						<td mat-cell *matCellDef="let row">
							{{row?.mother_hospital_record_no || '----'}}
						</td>
					</ng-container>
					<!-- <ng-container matColumnDef="nbbd_number">
						<th mat-header-cell *matHeaderCellDef>NBBD Number</th>
						<td mat-cell *matCellDef="let row">
							{{row?.nbbd_number || '----'}}
						</td>
					</ng-container> -->
					<ng-container matColumnDef="Date_of_Still_Birth">
						<th mat-header-cell *matHeaderCellDef>Date of Stillbirth</th>
						<td mat-cell *matCellDef="let row">
							{{row?.basic_information?.date_of_still_birth | date: 'dd/MM/yyyy'}}
						</td>
					</ng-container>

					<ng-container matColumnDef="Mother_age">
						<th mat-header-cell *matHeaderCellDef>Mother Age</th>
						<td mat-cell *matCellDef="let row">
							{{row?.basic_information?.mother_age || '----' }}
						</td>
					</ng-container>

					<ng-container matColumnDef="Consanguineous_Marriage">
						<th mat-header-cell *matHeaderCellDef>Consanguineous Marriage</th>
						<td mat-cell *matCellDef="let row">
							{{row?.basic_information?.consanguineous_marriage || '----' }}
						</td>
					</ng-container>
					
					<ng-container matColumnDef="date_of_notification">
						<th mat-header-cell *matHeaderCellDef>Date of Notification</th>
						<td mat-cell *matCellDef="let row">
							{{row?.filled_date | date: 'dd/MM/yyyy'}}
						</td>
					</ng-container>

					<ng-container matColumnDef="Form_filled_by">
						<th mat-header-cell *matHeaderCellDef>Form Filled By</th>
						<td mat-cell *matCellDef="let row">
							{{row?.filled_by || '----'}}
						</td>
					</ng-container>
					
					<!-- ACTION FIELDS -->
					<ng-container matColumnDef="action">
						<th mat-header-cell *matHeaderCellDef>Action</th>
						<td mat-cell *matCellDef="let row">
							<a [routerLink]="[row.id]" matTooltip="Edit Record">
								<mat-icon>edit</mat-icon>
							</a>
							
							<a [routerLink]="[row.id]" [queryParams]="{ view: true }" matTooltip="View Record">
								<mat-icon>remove_red_eye</mat-icon>
							</a>
						</td>
					</ng-container>

					<tr
						mat-header-row
						*matHeaderRowDef="columnsToDisplay; sticky: true"
					></tr>
					<tr
						mat-row
						*matRowDef="let dataSource; columns: columnsToDisplay"
					></tr>
				</table>
			</div>

			<mat-paginator
				[length]="totalRecords"
				[pageSize]="pageSize"
			></mat-paginator>
		</div>
	</kt-portlet-body>
</kt-portlet>
