<!-- SRS-MMR data -->
<div class="list-group container">
	<button type="button" class="list-group-item list-group-item-action active">
		SRS-MMR
	</button>
	<button type="button" class="list-group-item list-group-item-action">SRS-MMR(2007-09) <a style="float: right;"
			target="blank" href="./../../../../../../assets/media/MDSR_resources/SRS_MMR_Bulletin_2007_2009.pdf"><span
				class="material-icons">file_download</span></a></button>
	<button type="button" class="list-group-item list-group-item-action">SRS-MMR(2010-12) <a style="float: right;"
			target="blank" href="./../../../../../../assets/media/MDSR_resources/SRS_MMR_Bulletin_2010_2012.pdf"><span
				class="material-icons">file_download</span></a></button>
	<button type="button" class="list-group-item list-group-item-action">SRS-MMR(2011-13) <a style="float: right;"
			target="blank" href="./../../../../../../assets/media/MDSR_resources/SRS_MMR_Bulletin_2011_2013.pdf"><span
				class="material-icons">file_download</span></a></button>
	<button type="button" class="list-group-item list-group-item-action">SRS-MMR(2014-16) <a style="float: right;"
			target="blank" href="./../../../../../../assets/media/MDSR_resources/SRS_MMR_Bulletin_2014_2016.pdf"><span
				class="material-icons">file_download</span></a></button>
	<button type="button" class="list-group-item list-group-item-action">SRS-MMR(2015-17) <a style="float: right;"
			target="blank" href="./../../../../../../assets/media/MDSR_resources/SRS_MMR_Bulletin_2015_2017.pdf"><span
				class="material-icons">file_download</span></a></button>
	<button type="button" class="list-group-item list-group-item-action">SRS-MMR(2016-18) <a style="float: right;"
			target="blank" href="./../../../../../../assets/media/MDSR_resources/SRS_MMR_Bulletin_2016_2018.pdf"><span
				class="material-icons">file_download</span></a></button>
	<button type="button" class="list-group-item list-group-item-action">SRS-MMR(2017-19) <a style="float: right;"
			target="blank" href="./../../../../../../assets/media/MDSR_resources/SRS_MMR_Bulletin_2017_2019.pdf"><span
				class="material-icons">file_download</span></a></button>
</div>
<br>
<!-- guidlines data -->
<div class="list-group container">
	<button type="button" class="list-group-item list-group-item-action active">
		Guideline
	</button>
	<button type="button" class="list-group-item list-group-item-action">SUMAN <a style="float: right;" target="blank"
			href="./../../../../../../assets/media/MDSR_resources/SUMAN Guideline 2020 Web Version.pdf"><span
				class="material-icons">file_download</span></a></button>
	<button type="button" class="list-group-item list-group-item-action">MDSR Guideline <a style="float: right;"
			target="blank" href="./../../../../../../assets/media/MDSR_resources/Guideline_for_MDSR.pdf"><span
				class="material-icons">file_download</span></a></button>
	<button type="button" class="list-group-item list-group-item-action">Maternal Death Review <a style="float: right;"
			target="blank" href="./../../../../../../assets/media/MDSR_resources/maternal_death_review_guidebook.pdf"><span
				class="material-icons">file_download</span></a></button>
	<button type="button" class="list-group-item list-group-item-action">Extended PMSMA for tracking High Risk
		Pregnancies (HRPs) <a style="float: right;" target="blank"
			href="./../../../../../../assets/media/MDSR_resources/Guidance Note-Extended PMSMA for tracking HRPs (2).pdf"><span
				class="material-icons">file_download</span></a></button>
	<button type="button" class="list-group-item list-group-item-action">Extended PMSMA (AS & MD) <a style="float: right;"
			target="blank"
			href="./../../../../../../assets/media/MDSR_resources/E PMSMA - Letter signed by AS&MD 210522.pdf"><span
				class="material-icons">file_download</span></a></button>
</div>
