<div style="background-color: rgb(230, 230, 172);padding: 10px;">
    <div style="align-items: center;"><h2>Pregnancy Care</h2></div>
    <div class="row">
        <div class="col-lg-6">
            <kt-portlet>
                <!-- PORTLET LOADING | Binded to TABLE Datasource -->
                <!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
                <kt-portlet-header [title]="'Mode Of Delivery'" [class]="'kt-portlet__head--lg'"
                    style="color: white; min-height: 40px;">
                    <ng-container ktPortletTools>
                        <div class="form-check form-check-inline">
                        </div>
                        <div class="form-check form-check-inline">
                        </div>
                    </ng-container>

                </kt-portlet-header>
                <!-- end::Header -->

                <!-- start::Body (attribute: ktPortletBody) -->
                <kt-portlet-body>
                    <!-- start::FILTERS & GROUP ACTIONS -->
                    <div class="kt-form no-alert">
                        <!-- start::FILTERS -->
                        <div class="kt-form__filtration mb-0">
                            <div>
                                <div id="ModeOfDelivery" style="height: 450px; width: 100%;"></div>
                            </div>

                        </div>
                    </div>
                </kt-portlet-body>
            </kt-portlet>
        </div>
        <div class="col-lg-6">
            <kt-portlet>
                <!-- PORTLET LOADING | Binded to TABLE Datasource -->
                <!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
                <kt-portlet-header [title]="'Period Of Gestation'" [class]="'kt-portlet__head--lg'"
                    style="color: white; min-height: 40px;">
                    <ng-container ktPortletTools>
                        <div class="form-check form-check-inline">
                        </div>
                        <div class="form-check form-check-inline">
                        </div>
                    </ng-container>

                </kt-portlet-header>
                <!-- end::Header -->

                <!-- start::Body (attribute: ktPortletBody) -->
                <kt-portlet-body>
                    <!-- start::FILTERS & GROUP ACTIONS -->
                    <div class="kt-form no-alert">
                        <!-- start::FILTERS -->
                        <div class="kt-form__filtration mb-0">
                            <div>
                                <div id="PeriodOfGestation" style="height: 450px; width: 100%;"></div>
                            </div>

                        </div>
                    </div>
                </kt-portlet-body>
            </kt-portlet>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <kt-portlet>
                <!-- PORTLET LOADING | Binded to TABLE Datasource -->
                <!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
                <kt-portlet-header [title]="'Average Weight Of Baby - Month wise'" [class]="'kt-portlet__head--lg'"
                    style="color: white; min-height: 40px;">
                    <ng-container ktPortletTools>
                        <div class="form-check form-check-inline">
                        </div>
                        <div class="form-check form-check-inline">
                        </div>
                    </ng-container>

                </kt-portlet-header>
                <!-- end::Header -->

                <!-- start::Body (attribute: ktPortletBody) -->
                <kt-portlet-body>
                    <!-- start::FILTERS & GROUP ACTIONS -->
                    <div class="kt-form no-alert">
                        <!-- start::FILTERS -->
                        <div class="kt-form__filtration mb-0">
                            <div id="monthwiseTrendBabyWeightGraph" style="height: 450px; width: 100%;"></div>
                        </div>
                    </div>
                </kt-portlet-body>
            </kt-portlet>
        </div>
        <div class="col-lg-6">
            <kt-portlet>
                <!-- PORTLET LOADING | Binded to TABLE Datasource -->
                <!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
                <kt-portlet-header [title]="'Sex Of Baby'" [class]="'kt-portlet__head--lg'"
                    style="color: white; min-height: 40px;">
                    <ng-container ktPortletTools>
                        <div class="form-check form-check-inline">
                        </div>
                        <div class="form-check form-check-inline">
                        </div>
                    </ng-container>

                </kt-portlet-header>
                <!-- end::Header -->

                <!-- start::Body (attribute: ktPortletBody) -->
                <kt-portlet-body>
                    <!-- start::FILTERS & GROUP ACTIONS -->
                    <div class="kt-form no-alert">
                        <!-- start::FILTERS -->
                        <div class="kt-form__filtration mb-0">
                            <div>
                                <div id="sexofbaby" style="height: 450px; width: 100%;"></div>
                            </div>

                        </div>
                    </div>
                </kt-portlet-body>
            </kt-portlet>
        </div>
    </div>
</div>